/* @keyframes strike{
    0%   { width : 0; }
    100% { width: 70%; }
}

.goalitem-strike {
    position: relative;
}

.goalitem-strike:after {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ddd;
    animation: strike 1s ease 1 forwards; 
} */

.goalitem-strike {
    animation: strike 750ms ease 1 forwards;
}

@keyframes strike{
    0%   { opacity : 1 }
    100% { 
            text-decoration: line-through #ffffff;
            opacity: 0.75
         }
}