.timer-strike_animate {
    /* animation: strike 2s ease 0s 1 forwards; */
    color: red;
}
  
.timer-strike {
    /* text-decoration: line-through red; */
    color: red;
}
  
@keyframes strike {
    100% {
        /* opacity: 0; */
        /* text-decoration: line-through red; */
        color: red;
    }
}