.login-titleCard {
    position: relative;
}

.login-titleCard_container {
    position: absolute;
    top: 10%;
    right: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h5.login-titleCard_actionCall {
    margin-top: auto;
    margin-bottom: 50%;
}

@media screen and (max-width: 768px) {
    h2.login-titleCard_title {
        font-size: 1.8em;
    }
    h5.login-titleCard_subtitle {
        font-size: 1em;
    }
    h5.login-titleCard_actionCall {
        margin-bottom: 20%;
    }
}

@media screen and (max-width: 400px) {
    .login-titleCard {
        height: 450px
    }
    .login-titleCard_container {
        top: 60%;
    }
    h5.login-titleCard_actionCall {
        margin: 0;
    }
}